In [1]:
import cx_Oracle
conn = cx_Oracle.connect('collage/tiger@localhost:1521/xe')
conn = conn.cursor()

create collage Database

Create table ds_salaries

In [6]:
create_table = conn.execute('CREATE TABLE ds_salaries( emp_id int, work_year SMALLINT NOT NULL, experience_level VARCHAR(5) NOT NULL,employment_type VARCHAR(5) NOT NULL,job_title VARCHAR(200) NOT NULL,salary INTEGER NOT NULL CHECK(salary > 0),salary_currency VARCHAR(30) NOT NULL, salary_in_usd INTEGER NOT NULL CHECK(salary_in_usd > 0),employee_residence VARCHAR(5) NOT NULL, remote_ratio SMALLINT NOT NULL, company_location VARCHAR(5) NOT NULL, company_size VARCHAR(2) NOT NULL )')

Drop ds_salaries table

In [5]:
conn.execute('drop table ds_salaries')

Display the  existng data

In [7]:
data = conn.execute(' select * from  ds_salaries where emp_id <11')
for i in data.fetchall():
    print(i)

(0, 2020, 'MI', 'FT', 'Data Scientist', 70000, 'EUR', 79833, 'DE', 0, 'DE', 'L')
(1, 2020, 'SE', 'FT', 'Machine Learning Scientist', 260000, 'USD', 260000, 'JP', 0, 'JP', 'S')
(2, 2020, 'SE', 'FT', 'Big Data Engineer', 85000, 'GBP', 109024, 'GB', 50, 'GB', 'M')
(3, 2020, 'MI', 'FT', 'Product Data Analyst', 20000, 'USD', 20000, 'HN', 0, 'HN', 'S')
(4, 2020, 'SE', 'FT', 'Machine Learning Engineer', 150000, 'USD', 150000, 'US', 50, 'US', 'L')
(5, 2020, 'EN', 'FT', 'Data Analyst', 72000, 'USD', 72000, 'US', 100, 'US', 'L')
(6, 2020, 'SE', 'FT', 'Lead Data Scientist', 190000, 'USD', 190000, 'US', 100, 'US', 'S')
(7, 2020, 'MI', 'FT', 'Data Scientist', 11000000, 'HUF', 35735, 'HU', 50, 'HU', 'L')
(8, 2020, 'MI', 'FT', 'Business Data Analyst', 135000, 'USD', 135000, 'US', 100, 'US', 'L')
(9, 2020, 'SE', 'FT', 'Lead Data Engineer', 125000, 'USD', 125000, 'NZ', 50, 'NZ', 'S')
(10, 2020, 'EN', 'FT', 'Data Scientist', 45000, 'EUR', 51321, 'FR', 0, 'FR', 'S')

the top 10 average salaries for the different data science job positions

In [8]:
average= conn.execute('select job_title , round(avg(salary_in_usd),2) as salary_in_usd from ds_salaries group by job_title order by salary_in_usd  desc ')
for i in  average.fetchall():
    print(i)

('Data Analytics Lead', 405000)
('Principal Data Engineer', 328333.33)
('Financial Data Analyst', 275000)
('Principal Data Scientist', 215242.43)
('Director of Data Science', 195074)
('Data Architect', 177873.91)
('Applied Data Scientist', 175655)
('Analytics Engineer', 175000)
('Data Specialist', 165000)
('Head of Data', 160162.6)
('Machine Learning Scientist', 158412.5)
('Data Science Manager', 158328.5)
('Director of Data Engineering', 156738)
('Head of Data Science', 146718.75)
('Applied Machine Learning Scientist', 142068.75)
('Lead Data Engineer', 139724.5)
('Data Analytics Manager', 127134.29)
('Cloud Data Engineer', 124647)
('Data Engineering Manager', 123227.2)
('Principal Data Analyst', 122500)
('ML Engineer', 117504)
('Machine Learning Manager', 117104)
('Lead Data Scientist', 115190)
('Data Engineer', 112725)
('Research Scientist', 109019.5)
('Data Scientist', 108187.83)
('Computer Vision Software Engineer', 105248.67)
('Staff Data Scientist', 105000)
('Machine Learning Engineer', 104880.15)
('Machine Learning Infrastructure Engineer', 101145)
('Big Data Architect', 99703)
('Data Analyst', 92893.06)
('Lead Data Analyst', 92203)
('Marketing Data Analyst', 88654)
('Lead Machine Learning Engineer', 87932)
('Machine Learning Developer', 85860.67)
('Head of Machine Learning', 79039)
('Business Data Analyst', 76691.2)
('Data Science Engineer', 75803.33)
('BI Data Analyst', 74755.17)
('Data Science Consultant', 69420.71)
('AI Scientist', 66135.57)
('Data Analytics Engineer', 64799.25)
('Finance Data Analyst', 61896)
('ETL Developer', 54957)
('Big Data Engineer', 51974)
('Computer Vision Engineer', 44419.33)
('NLP Engineer', 37236)
('Product Data Analyst', 13036)
('3D Computer Vision Researcher', 5409)

employed full-time make your salary higher

PT = Part time
FL = Freelance
FT = Full time
CT = Contract

In [9]:
ep_sal= conn.execute('select employment_type , round(avg(salary_in_usd),2) as salary_in_usd from ds_salaries group by employment_type order by salary_in_usd  desc ')
for i in ep_sal.fetchall():
    print(i)

('CT', 184575)
('FT', 113468.07)
('FL', 48000)
('PT', 33070.5)

job experience level impact your salary?

EN = Entry level
MI = Mid-level
SE = Senior level
EX = Executive level

In [10]:
job_sal= conn.execute('select experience_level, round(avg(salary_in_usd),2) as salary_in_usd from ds_salaries group by experience_level  order by salary_in_usd desc ')
for  i in job_sal.fetchall():
    print(i)

('EX', 199392.04)
('SE', 138617.29)
('MI', 87996.06)
('EN', 61643.32)

the size of the company impact your salary

In [11]:
comp_size = conn.execute('select company_size, round(avg(salary_in_usd),2) as salary_in_usd from ds_salaries group by company_size  order by salary_in_usd desc ')
for  i in job_sal.fetchall():
    print(i)

('L', 119242.99)
('M', 116905.47)
('S', 77632.67)